.search {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 3px 13px;
    width: fit-content;
    line-height: 30px;
    margin-bottom: 30px;
    border-radius: 50px;
  }  